fastapi[all]
uvicorn
sqlalchemy[asyncio]
asyncpg
stripe
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
aiohttp
python-dotenv
aiosqlite
weasyprint==61.2
Jinja2==3.1.2
web3==6.15.1
httpx
google-auth
google-api-python-client
